.home-body {
	display: flex;
	justify-content: center;
	background-color: rgb(242, 226, 194);

}
.start-game {
	background-color: rgba(46, 115, 78, .2);
	text-decoration: none;
	border-radius: 10%;
	/*border-color: rgb(46, 115, 78);*/
	border: 1px solid rgba(46, 115, 78, .7);
	padding: 10px;
	/*color: rgba(242, 226, 194, 1);*/
	color: black;
}


